@(productTypes: Seq[ProductType], deleteForm: Form[DeleteForm])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._
@import views.html.utils.alerts

@main("ProductTypes") {
    @alerts()

    <table class="table table-striped">
        <caption>products' types</caption>
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        @for(productType <- productTypes) {
            <tr>
                <th scope="row">@productType.productTypeId</th>
                <td>@productType.name</td>
                <td>@productType.description.take(10)</td>
                <td>
                    <div class="d-flex justify-content-end">
                        <a class="btn btn-secondary mr-2" href="/admin/productType/update/@productType.productTypeId">Edit</a>
                        @form(routes.ProductTypeController.handleDelete()) {
                            @helper.CSRF.formField
                            <input type="hidden" name="id" value="@productType.productTypeId" >
                            <input type="submit" value="Delete" class="btn btn-danger"/>
                        }
                    </div>
                </td>
                }
        </tbody>
    </table>
} {
    <a class="btn btn-success" href="/admin/productType/create">Add</a>
}
